@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
#content {
  padding: 20px 0;
}

#message {
  margin: 0 20px;
}

.logo-small {
  height: 50px;
  padding: 5px 0px;
}

.shopify_icon {
  background: url("/img/shopify.png") no-repeat top left;
  text-decoration: none;
  font-style: normal;
  width: 30px;
  background-size: contain;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
}

/*# sourceMappingURL=app.css.map */
